**Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)**

**<h1>Data Science Tools and Ecosystem</h1>**

**Exercise 3 - Create a markdown cell for an introduction. (1 pt)**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 4 - Create a markdown cell to list data science languages. (3 pts)**

**Some of the popular languages that Data Scientists use are:**
<ol>
    <li> Python </li>
    <li> R </li>
    <li> SQL</li>
    <li>Julia</li>
    <li> Scala </li>
    <li> Java </li>
    <li> MATLAB </li>
</ol>

**Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)**

**List data science libraries**
<ol>
    <li> NumPy </li>
    <li> Pandas </li>
    <li> Matplotlib </li>
    <li> Seaborn </li>
    <li> Scikit-learn(sklearn) </li>
    <li> Tensorflow </li>
    <li> Keras </li>
    <li> Pytorch </li>
    <li> NLTK </li>
    <li> XGBOOST </li>
</ol>

**Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)**

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>Google Colab</td>
    </tr>
  <tr>
    <td>Anaconda</td>
  </tr>
</table>

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)**

Below are a few examples of evaluating arithmetic expressions in Python

In [28]:
print("Multiplication(5,3): "+str(5*3))
print("Addition(5,3): "+str(5+3))
print("Divide(5,3): "+str(5/3))
print("Subtraction(5,3): "+str(5-3))

Multiplication(5,3): 15
Addition(5,3): 8
Divide(5,3): 1.6666666666666667
Subtraction(5,3): 2

**Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)**

This a simple arithmetic expression to mutiply then add integers

In [32]:
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)**

This will convert 200 minutes to hours by diving by 60

In [34]:
mins = 200
hrs = mins / 60
print(f"{mins} minutes is equal to {hrs} hours.")

200 minutes is equal to 3.3333333333333335 hours.

**Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)**

<strong>Objectives:</strong> 
<ul>
    <li> List popular languages that Data Scientists use. </li>
    <li> List commonly used libraries used by Data Scientists. </li>
    <li> List tools used by Data Scientists. </li>
    <li> Show Airthematic operations. </li>
</ul>

**Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)**

<h2>Author:</h2> Palani Vigneshwar